* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Product Sans", system-ui, -apple-system, sans-serif;
  line-height: 1.6;
  color: black;
}

/* Header */
header {
  background-color: rgba(0, 0, 0, 0);
  /* box-shadow: none; */
  position: absolute;
  width: 100%;
  top: 0;
  z-index: 100;
}

nav {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.nav-links {
  position: relative;
}

.nav-links a {
  color: black;
  text-decoration: none;
  margin-left: 2rem;
  font-weight: 900;
  padding: 10px;
  position: relative;
  background-color: #39ff14;
  border-radius: 5px;
  /* transition: background-color 0.3s, border-color 0.3s; */
}

.nav-links a:hover {
  background-color: #d3fc09;
}

.nav-links a::after {
  content: " ";
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #ffa600;
  left: 0;
  bottom: -5px;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

.nav-links a:hover::after {
  transform: scaleX(1);
}

.nav-links .logo {
  background: none;
}
/* Hero Section */
.hero {
  position: relative;
  min-height: 750px;
  width: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.background-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
}

.hero-content {
  position: relative;
  z-index: 1;
  text-align: center;
  color: white;
  padding: 20px;
}

.hero h1 {
  font-size: 3.5rem;
  margin-bottom: 10px;
  font-weight: 700;
  text-shadow: 2px 5px 10px rgb(0, 255, 21);
}

.hero p {
  font-size: 20px;
  margin-bottom: 50px;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.9);
  text-shadow: 2px 5px 10px rgb(173, 197, 16);
}

.btn {
  background-color: #89f500;
  color: rgb(0, 0, 0);
  padding: 10px 20px;
  border: none;
  border-radius: 30px;
  text-decoration: none;
  font-size: 16px;
  transition: background-color 0.3s;
}

.btn:hover {
  background-color: #d0ff00;
}
